project:
  type: website
  resources:
    - "gt.html"
    - "lib"

website:
  title: "Quarto Workshop LMU OSC"
  page-navigation: true
  page-footer:
    center: 
      - text: "About"
        href: about.qmd
  navbar:
    tools:
      - icon: github
        href: https://github.com/lmu-osc/introduction-to-Quarto
    left:
      - text: "1. Welcome"
        href: "index.qmd"
      - text: "2. Quarto Tutorials"
        file: "quarto_tutorials.qmd"
      - text: "3. Tips and Comments"
        file: "comments.qmd"
      - text: "4. Advanced Exercises"
        file: "quarto_exercises.qmd"
      - text: "5. Links"
        file: "links.qmd"
    right:
      - text: "About"
        file: "about.qmd"
  
  sidebar: 
    contents: 
      - index.qmd
      - section: "2. Quarto Tutorials"
        contents:
          - text: "Overview"
            href: "quarto_tutorials.qmd"
          - preparations.qmd
          - get-started_1.qmd
          - get-started_2.qmd
          - get-started_3.qmd
      - comments.qmd
      - section: "4. Advanced Exercises"
        contents:
          - text: "Overview"
            href: "quarto_exercises.qmd"
          - text: "Exercise: WebR/Pyodide"
            href: "webr.qmd"
          - text: "Exercise: Slideshows"
            file: slideshow.qmd
          - text: "Exercise: APA 7 Manuscripts"
            file: apa7_manuscript.qmd
          - text: "Exercise: Quarto Manuscripts"
            file: quarto_manuscripts.qmd
      - links.qmd

        
  # sidebar:
  #   - title: "2. Quarto Tutorials"
  #     style: "docked"
  #     background: light
  #     contents:
  #       - section: "2. Quarto Tutorials"
  #         contents:
  #           - text: "Overview"
  #             href: "quarto_tutorials.qmd"
  #           - preparations.qmd
  #       - section: "  Quarto Tutorials"
  #         contents:
  #           - get-started_1.qmd
  #           - get-started_2.qmd
  #           - get-started_3.qmd
            
  repo-url: https://github.com/lmu-osc/introduction-to-Quarto
  repo-actions: [issue, edit]

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    link-external-newwindow: true
    link-external-icon: true
    link-external-filter: ^(?:http:|https:)\/\/lmu-osc\.github\.io\/introduction-to-Quarto\/
    df-print: paged
    code-overflow: wrap

from: markdown+emoji
